.App {
  font-family:Arial, Helvetica, sans-serif;
}

.coin {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: x-large;
  text-align: center;
  border: solid 1px gray;
  border-radius: 20px;
  margin: 8px;
  user-select: none;
}

.coin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flipper {
  background-color: lightgray;
}

.flipper:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.label {
  width: 100px;
  line-height: 40px;
}

.waiting {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
